/Java1/Assignment3/nbproject/private/
/Java1/Assignment3/build/
/Java1/Assignment5/nbproject/private/
/Java1/Assignment5/build/
/Java1/EncapsulationAssignment/nbproject/private/
/Java1/BookStore/nbproject/private/
/Java1/BookStore/build/
/Java1/problem16/nbproject/private/
/Java1/Car/nbproject/private/
/Java1/App/nbproject/private/
/Java1/App2/nbproject/private/
/Java1/InterfaceAssignment/nbproject/private/
/Java1/InterfaceAssignment/build/
/Java1/AbstractClassAssignment/nbproject/private/
/Java1/AbstractClassAssignment/build/
/Java1/Assignment1_2/nbproject/private/
/Java1/Assignment1_2/build/
/Java1/Assignment2_2/nbproject/private/
/Java1/Assignment2_2/build/
/Java1/FinalProject/nbproject/private/
/Java1/FinalProject/build/
/Java1/JavaFinalProblem16/nbproject/private/
/Java1/JavaFinalProblem16/build/
/Java1/Java_BookStore/target/
/first_java_on_linux/target/
/Java2/ShoeStore/com.nikicompany.ShoeStore/target/
/Java2/ShoeStore/com.nikicompany.ShoeStore/nbproject/
/Java2/FoodItem_Database/target/